/* src/components/Cell.css */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    border: 1px solid #999;
    cursor: pointer;
    user-select: none;
}

.cell.open {
    background-color: #eee;
    color:black;
    cursor: default;
}

.cell.flag {
    background-color: #e2cd0d; /* Cor de fundo para bandeira */
    color: #00f;
}

.cell.question {
    background-color: #2bff00; /* Cor de fundo para ponto de interrogação */
    color: #f90;
}

.cell.open.bomb {
    background-color: #f00;
    color: #fff;
}
